@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-cover {
  background-image: url(/images/bg.jpg);
  background-position: center;
  background-size: cover;
}
